{% extends "base.html" %}
{% block body %}
  <p>
    <div class="top_div" style="overflow-x:auto;">
    <table class="table">
    <tr class="thead">
      <th> <a href="/home/{{oid}}?order_by=id&order={{order}}">Sl.No.</a> </th>
      <th> <a href="/home/{{oid}}?order_by=name&order={{order}}">Poll-Name</a>  </th>
      <th> <a href="/home/{{oid}}?order_by=created&order={{order}}">Created On</a>  </th>
      <th> Description  </th>
      <th> Participate  </th>
     </tr>
     {% for id, name, cdate, description in polls %}
     <tr class="trow">
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{cdate}}</td>
        <td>{{description}}</td>
        <td><a href="{{url_for('vote.pollinfo', pid=id, oid=oid)}}">Vote!</a> </td>
     </tr>
     {%endfor%}
     </table>
   </p>
   <div class = "side_div">
   <p style="color:White; font-family: sans-serif;">
    <a href="{{url_for('vote.createpoll', oid=oid)}}">Create your own Poll!</a>
   </p>
   </div>
   </div>
{% endblock %}
