{% extends "base.html" %}
{% block body %}
    <div class="center_div">
    <h2 class="display-4" style="color:White; font-family: Arial, Helvetica, sans-serif; font-size: 40px;">Vote! Let your voice be heard!</h4>
    <br/>
    </div>
    <br/>
    <br/>
    <p>
      <form action="{{url_for('vote.result', oid=oid, pid=pid)}}" method="post">
      <div style="overflow-x:auto;">
      <table class="table info-table">
      <tr style="background-color:White">
        <th scope="col"> <a href="/?order_by=id&order={{order}}">Sl.No.</a> </th>
        <th scope="col"> <a href="/?order_by=name&order={{order}}">Item/Candidate Name</a>  </th>
        <th scope="col"> Description  </th>
        <th scope="col"> Vote!  </th>
      </tr>
      {% for id, name, description in polls %}
      <tr style="background-color:White">
        <td scope="row" class="id" >{{id}}</td>
        <td class="name">{{name}}</td>
        <td class="description">{{description}}</td>
        <td class="participate"><input type="radio" id="choice" name="choice" value={{id}}></td>
      </tr>
      {%endfor%}
      </table>
      <div class = "side_div">
        <p style="color:White; font-family: Arial, Helvetica, sans-serif;">
        <input type = "submit" value = "Submit Vote">
        </form>
        </p>
      </div>
    </p>
{% endblock %}    
