{% extends "base.html" %}
{% block body %}
    <div class="center_div">
      <h2 class="display-4" style="color:White; font-family: Arial, Helvetica, sans-serif; font-size: 40px;">Make your data entries</h2>
      <br/>
    </div>
    <br/>
    <br/>
    <div class="bottom_div">
      <p style="color:White; font-family: Arial, Helvetica, sans-serif;">
      <form action="{{url_for('vote.makeentry', oid=oid, pid=pid)}}" method="POST">
        <label for = "itemname" style="color:White; font-family: Arial, Helvetica, sans-serif;">Item/Candidate Name:</label>
        <input name = "itemname" type = "text" id = "itemname" required/>
        <br/>
        <label for = "itemdesc" style="color:White; font-family: Arial, Helvetica, sans-serif;">Give it a brief description:</label>
        <input name = "itemdesc" type = "text" id = "itemdesc" required/>
        <br/>
        <br/>
        <label for = "status" style="color:White; font-family: Arial, Helvetica, sans-serif;">All done? (Y/N)</label>
        <input name = "status" type = "text" id = "status" size = "1">
        <br/>
        <br/>
        <input type = "submit" value = "Submit">
        <br/>
        <br/>    
      </form>
      </p>
    </div>
{% endblock %}
