{% extends "base.html" %}
{% block body %}
      <div class="center_div">
      <h2 class="display-4" style="color:Black; font-family: sans-serif; font-size: 40px;">Voting Site</h2>
      <br/>
      <h6 class="display-4" style="color:Black; font-family: sans-serif; font-size: 20px;">A simple website where you can create, share and vote on polls</h6>
      <br/>
      <h6 class="display-4" style="color:White; font-family: sans-serif; font-size: 20px;"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  - A project by NM604</h6>
     </div>
     <div class="bottom_div">
      <p style="color:White; font-family: sans-serif;">
      <form method = "post" action = "/login">
      <label for = "username" style="color:White; font-family: Arial, Helvetica, sans-serif;">Enter your username</label>
      <br/>
      <input name = "username" type = "text" id = "username" required/>
      <br/>
      <br/>
      <label for = "password" style="color:White; font-family: Arial, Helvetica, sans-serif;">Enter your password</label>
      <br/>
      <input name = "password" type = "password" id = "password" required/>
      <br/>
      <br/>
      <input type = "submit" value = "Login"/>
      </form>
      </p>
      <p style="color:White; font-family: sans-serif;">
        <a href="{{url_for('vote.create')}}">Not an existing user? Create a profile!</a>
        <br/>
        <br/>
        {{status}}
     </div>
{% endblock %}
